{% extends "base.html" %}
{% load static %}

{% block title %}Create Profile{% endblock %}

{% block content %}
<h2 class="mb-4">Create Profile</h2>
<form method="POST" autocomplete="off">
  {% csrf_token %}
    <div id="formPart1">
      <fieldset>
        <legend>Profile Data</legend>
          <div class="mb-3">{{profile_form.name.as_field_group}}</div>
          <div class="mb-3">{{profile_form.description.as_field_group}}</div>
          <div class="mb-3">{{profile_form.manufacturer.as_field_group}}</div>
          <div class="mb-3">{{profile_form.model.as_field_group}}</div>

          <div>
            <label for="{{ profile_form.labels.id_for_label }}">Labels:</label>
            {{ profile_form.labels }}
            
            <div id="empty-label-form" style="display:none;">
              {{ label_formset.empty_form.as_p }}
            </div>
            {{ label_formset.management_form }}
            <div id="label-container">
            </div>
            {{ profile_form.labels.errors }}
          </div>

          <button type="button" onclick="addLabelForm()">Add Label</button>
      </fieldset>
    </div>


    
    <div id="formPart2" class="d-none">
      <fieldset class="formset">
        <legend>Resources</legend>
        {{ properties_formset.management_form }}
        {{ resource_formset.management_form }}
        <div id="resource-container">
          {% for res_form in resource_formset %}
            <div class="form-row">
              <div>{{res_form.name.as_field_group}}</div>
              <div>{{res_form.description.as_field_group}}</div>
              <div>{{properties_formset.0.valueType.as_field_group}}</div>
              <div>{{properties_formset.0.readWrite.as_field_group}}</div>
              Delete: {{ res_form.DELETE }}
            </div>
          {% endfor %}
        </div>
        <button type="button" onclick="addResourceForm()">Add Resource</button>
      </fieldset>
    </div>



    <div id="formPart3" class="d-none">
      <fieldset class="formset">
        <legend>Command (optional)</legend>
        <div id="empty-command-form" class="d-none">
          {{ command_formset.empty_form.as_p }}
          <button type="button" onclick="addOperationForm(__prefix__)">Add Operation</button>
        </div>
        <div id="empty-operation-form" class="d-none">
          {{ operation_formset.empty_form.as_p }}
        </div>
        {{ operation_formset.management_form}}
        {{ command_formset.management_form }}
        <div>
          <div id="command-container">
          </div>
        </div>
        <button type="button" onclick="addCommandForm()">Add Command</button>
      </fieldset>
    </div>
    
    <button type="button" onclick="prevStep()"><i class="bi bi-arrow-left"></i></button>
    <button type="button" onclick="nextStep()"><i class="bi bi-arrow-right"></i></button>
    <button type="submit">Save</button>
  </form>
  
{% endblock %}
{% block scripts %}
  <script src= "{% static 'multi_step_form.js' %}"></script>
{% endblock %}
