{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Update Gateway Profiles{% endblock %}

{% block content %}
  <h2 class="mb-4">Update Gateway Profiles</h2>

  <form method="post" class="border p-4 rounded shadow-sm bg-light">
    {% csrf_token %}
    {{ formset.management_form }}

    {% if not_synched %}
      <div>
        <h4><i>Profiles not synched were found, choose actions:</i></h4>
        {% for form in formset %}
          {% with profile=not_synched|index:forloop.counter0 %}
          <div class="border border-dark p-2 mb-2">
            <p><strong>Name:</strong> {{ profile.name }}</p>
            <p><strong>Description:</strong> {{ profile.description }}</p>
            <p><strong>Model:</strong> {{ profile.model }}</p>
            <p><strong>Manufacturer:</strong> {{ profile.manufacturer }}</p>
            {% if profile.labels %}
              <p><strong>Labels:</strong> 
                {% for label in profile.labels %}
                  {{ label }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
            {% endif %}
            <p><strong>Resources:</strong>
              {% for resource in profile.deviceResources  %}
                {{ resource.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
            {% if profile.deviceCommands %}
              <p><strong>Commands:</strong>
                {% for command in profile.deviceCommands  %}
                  {{ command.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
            {% endif %}
            <div>
              <div>{{form.item_id}}</div>
              <div>{{ form.decision.as_field_group }}</div>
              {% if assign_arr|index:forloop.counter0 %}
                <div>{{ form.profile.as_field_group }}</div>
              {% endif %}
            </div>
          </div>
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    <div>
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-dark">Save</button>
  </form>
{% endblock %}
